deps/
bin/
lib/
test/build_graph
*.o
./lib/libvcflib.a
./lib/libxg.a
./lib/libgcsa2.a
./lib/libsdsl.a
./lib/libbdsg.a
./lib/libvgio.so
./lib/libjemalloc.a
./lib/libhandlegraph.a
./lib/libvgio.a
./lib/libgtest.a
./lib/libgbwtgraph.a
./lib/libvg.a
./lib/libjemalloc_pic.a
./lib/st8OjVv9
./lib/stixS4YI
./lib/libgbwt.a
./deps/libhandlegraph/build/libhandlegraph.a
./deps/libhandlegraph/build/libhandlegraph.so
./deps/sparsehash/time_hash_map-time_hash_map.o
./deps/sparsehash/hashtable_test.o
./deps/sparsehash/hashtable_test
./deps/ssw/demo/ref.fa
./deps/vcflib/build/pVst
./deps/vcflib/build/hapLrt
./deps/vcflib/build/wcFst
./deps/vcflib/build/vcfannotate
./deps/vcflib/build/vcfremap
./deps/vcflib/build/vcfld
./deps/vcflib/build/vcfbreakmulti
./deps/vcflib/build/CMakeFiles/vcflib.dir/src/Variant.cpp.o
./deps/vcflib/build/vcfstats
./deps/vcflib/build/vcfcombine
./deps/vcflib/build/vcf2fasta
./deps/vcflib/build/libvcflib.a
./deps/vcflib/build/popStats
./deps/vcflib/build/vcfgeno2haplo
./deps/vcflib/build/plotHaps
./deps/vcflib/build/vcfcreatemulti
./deps/vcflib/build/vcfleftalign
./deps/vcflib/build/bFst
./deps/vcflib/build/vcfstreamsort
./deps/vcflib/build/meltEHH
./deps/vcflib/build/vcffilter
./deps/vcflib/build/pFst
./deps/vcflib/build/vcfintersect
./deps/vcflib/build/vcfannotategenotypes
./deps/vcflib/build/iHS
./deps/vcflib/build/vcfgenotypecompare
./deps/vcflib/build/vcfroc
./deps/vcflib/build/sequenceDiversity
./deps/vcflib/build/vcfallelicprimitives
./deps/vcflib/build/genotypeSummary
./deps/vcflib/paper/Fig2.pdf
./deps/vcflib/samples/scaffold612.phased.vcf
./deps/vcflib/samples/scaffold612.vcf
./deps/xg/xg.o
./deps/jemalloc/lib/libjemalloc.a
./deps/jemalloc/lib/libjemalloc_pic.a
./deps/gssw/demo/ref.fa
./deps/sdsl-lite/build/external/googletest/googletest/CMakeFiles/gtest.dir/src/gtest-all.cc.o
./deps/sdsl-lite/build/external/googletest/googletest/libgtest.a
./deps/sdsl-lite/build/lib/libsdsl.a
./deps/gbwtgraph/obj/internal.o
./deps/gbwtgraph/bin/gbz_stats
./deps/gbwtgraph/bin/gfa2gbwt
./deps/libbdsg/lib/libbdsg.a
./deps/libbdsg/bdsg/obj/packed_graph.o
./deps/gbwt/bin/build_ri
./deps/gbwt/bin/merge_gbwt
./deps/gbwt/bin/benchmark
./deps/gbwt/bin/build_gbwt
./deps/gbwt/bin/remove_seq
./deps/gbwt/bin/metadata_tool
./deps/libvgio/build-vg/libvgio.so
./deps/libvgio/build-vg/handlegraph-prefix/src/handlegraph-build/libhandlegraph.a
./deps/libvgio/build-vg/handlegraph-prefix/lib/libhandlegraph.a
./deps/libvgio/build-vg/libvgio.a
./deps/gcsa2/obj/path_graph.o
./deps/gcsa2/obj/gcsa.o
./old/vg/.git/objects/pack/pack-9456dd34aaa106a6e38f897df9206ebfa45b8f21.pack
./old/test/call/HGSVC_chr22_17119590_17880307.gam
./obj/genotyper.o
./obj/traversal_finder.o
./obj/subcommand/giraffe_main.o
./obj/subcommand/test_main.o
./obj/subcommand/filter_main.o
./obj/subcommand/stats_main.o
./obj/subcommand/chunk_main.o
./obj/subcommand/index_main.o
./obj/subcommand/sim_main.o
./obj/subcommand/find_main.o
./obj/subcommand/convert_main.o
./obj/subcommand/call_main.o
./obj/subcommand/mpmap_main.o
./obj/subcommand/mod_main.o
./obj/index_registry.o
./obj/alignment.o
./obj/banded_global_aligner.o
./obj/surjector.o
./obj/multipath_alignment.o
./obj/minimizer_mapper.o
./obj/variant_recall.o
./obj/graph_caller.o
./obj/clip.o
./obj/vg.o
./obj/constructor.o
./obj/mapper.o
./obj/cluster.o
./obj/unittest/index_registry.o
./obj/unittest/incremental_subgraph.o
./obj/unittest/pinned_alignment.o
./obj/unittest/constructor.o
./obj/unittest/mcmc_genotyper.o
./obj/unittest/snarl_distance_index.o
./obj/unittest/genotypekit.o
./obj/unittest/multipath_alignment.o
./obj/unittest/transcriptome.o
./obj/unittest/handle.o
./obj/unittest/splicing.o
./obj/unittest/gbwt_extender.o
./obj/unittest/vg_algorithms.o
./obj/unittest/banded_global_aligner.o
./obj/unittest/phased_genome.o
./obj/unittest/genome_state.o
./obj/unittest/snarls.o
./obj/unittest/variant_adder.o
./obj/unittest/copy_graph.o
./obj/unittest/snarl_seed_clusterer.o
./obj/path.o
./obj/transcriptome.o
./obj/multipath_alignment_graph.o
./obj/multipath_mapper.o
./obj/deconstructor.o
./bin/vg
./test/build_graph
./test/call/HGSVC_chr22_17119590_17880307.gam
./vg/.git/objects/pack/pack-2f18e1949e4f630b870e074e9c4649074c604e65.pack
./vg/.git/modules/sdsl-lite/modules/external/googletest/objects/pack/pack-1a7e4ad22c612907d2b384b31d32c5a8df0fe95e.pack
./vg/.git/modules/deps/elfutils/objects/pack/pack-5f28ed6a00ad068fb83b1ed445b556a11ea8432e.pack
./vg/.git/modules/deps/libbdsg/modules/deps/DYNAMIC/objects/pack/pack-001744c635c3aa7a0cfe57b9a62e13c7d906f97f.pack
./vg/.git/modules/deps/libbdsg/modules/deps/sdsl-lite/modules/external/googletest/objects/pack/pack-bfab5e58c7b2f776a77f366c1351d46c977e6dbd.pack
./vg/.git/modules/deps/libbdsg/objects/pack/pack-522ba4285e1fb4d9742d492ed9796203046ef641.pack
./vg/.git/modules/deps/tabixpp/modules/htslib/objects/pack/pack-b08f65a47c4148efba1a242ec8afe710a4c5f453.pack
./vg/.git/modules/deps/mmmultimap/modules/deps/DYNAMIC/objects/pack/pack-7917c92ddbb753a27227719cddc0012f5506184b.pack
./vg/.git/modules/deps/mmmultimap/modules/deps/sdsl-lite/modules/external/googletest/objects/pack/pack-9b004612f19b7f90052e0d274bc4aeac3366ba53.pack
./vg/.git/modules/deps/DYNAMIC/objects/pack/pack-7917c92ddbb753a27227719cddc0012f5506184b.pack
./vg/.git/modules/deps/htslib/objects/pack/pack-b08f65a47c4148efba1a242ec8afe710a4c5f453.pack
./vg/.git/modules/deps/htslib/modules/htscodecs/objects/pack/pack-e9b95190a44aa2baa50f92ebd999880c682ac2a5.pack
./vg/.git/modules/deps/Complete-Striped-Smith-Waterman-Library/objects/pack/pack-d5518398788f95ec2f78cc2a9891e0645ec2de43.pack
./vg/.git/modules/deps/raptor/objects/pack/pack-1a5b35b341f1021a9f5227f08b2e353bc2f91a20.pack
./vg/.git/modules/deps/jemalloc/objects/pack/pack-872d7b816e92d61bad55d1e4a9002bbf7fee7e4f.pack
./vg/.git/modules/deps/sublinear-Li-Stephens/modules/htslib/objects/pack/pack-79685212e30c32a264124364359a648787a58e3c.pack
./vg/.git/modules/deps/xg/modules/deps/sdsl-lite/modules/external/googletest/objects/pack/pack-bfab5e58c7b2f776a77f366c1351d46c977e6dbd.pack
./vg/.git/modules/deps/xg/modules/deps/mmmulti/modules/deps/sdsl-lite/modules/external/googletest/objects/pack/pack-9b004612f19b7f90052e0d274bc4aeac3366ba53.pack
./vg/.git/modules/deps/xg/modules/deps/mmmulti/modules/deps/DYNAMIC/objects/pack/pack-7917c92ddbb753a27227719cddc0012f5506184b.pack
./vg/.git/modules/vcflib/objects/pack/pack-b27a5cd35cb586a7602e5aecb4c4c81bac6da3aa.pack
./vg/.git/modules/vcflib/modules/googletest/objects/pack/pack-1a7e4ad22c612907d2b384b31d32c5a8df0fe95e.pack
